<div id="main">
  <button mat-raised-button (click) = "addEntry(1)">1</button>
  <button mat-raised-button (click) = "addEntry(2)">2</button>
  <button mat-raised-button (click) = "addEntry(3)">3</button>
  <br>
  <button mat-raised-button (click) = "addEntry(4)">4</button>
  <button mat-raised-button (click) = "addEntry(5)">5</button>
  <button mat-raised-button (click) = "addEntry(6)">6</button>
  <br>
  <button mat-raised-button (click) = "addEntry(7)">7</button>
  <button mat-raised-button (click) = "addEntry(8)">8</button>
  <button mat-raised-button (click) = "addEntry(9)">9</button>
  <br>
  <button mat-raised-button (click) = "addEntry(0)" style="padding-left: 46%; padding-right: 46%">0</button>
  <br>
  <br>

  <div id="entered"  >
    <input type="text" disabled="true" value={{entered}}>
  </div>
  <br>
  <button mat-fab style="float:left; background-color: green" (click) = "back()">
    <mat-icon>keyboard_backspace</mat-icon>
  </button>
  <button mat-fab style="float: right; background-color: green" (click) = "enter()">
    <mat-icon>done_outline</mat-icon>
  </button>
</div>