#boxesDiv{
    float:right;
    margin-top: 20%;
        margin: auto;
        width: 90%;
        
        padding: 10px;
      
    
}
   .input{ 
    margin: 5px; 
    width: 15%;
    padding: 10px;
    font-size: 20px;
    z-index: 5;
   }

.placeholder{
    z-index: 1;
    color: silver;
    /* margin: 5px; 
    width: 15%;
    padding: 10px;
    font-size: 20px; */
  
} 

