<body id="body"> 
        <div style="margin-left: 5%; margin-right: 5%">
                <button mat-raised-button 
                style="margin-top: 2%; padding-left: 45%; padding-right: 45%"
                [disabled] = "addingToInv"
                (click)="addToInv()" id="addButton">Add To Inventory</button>
        </div>

        <div id="autofillDiv" style="margin-left: 5%; margin-right: 5%">

        </div>
       
        <div id="boxesDiv">
        </div>
        <!-- shows up when items are successfully added -->
        <div id="confirmed"> 
                Added items to Inventory
        </div>
</body>