body{
    background-color: rgb(16, 95, 175)
}
.mtab {
    min-width : 0px;
     width: 167px;
     height: 42px;
     border-radius: 3px;
     background-color: #e0e0e0;
    }
  ::ng-deep.mat-tab-label.mat-tab-label-active:not(.mat-tab-disabled),
  ::ng-deep.mat-tab-label.mat-tab-label-active.cdk-keyboard-focused:not(.mat-tab-disabled) {
    opacity : 1;
  }
  .spans{
    box-shadow: 0px 0px 9px 6px rgb(0, 0, 0);
    font-size: 23px ; 
    color: rgb(216, 88, 14);
    font-weight: 500 ; 
    border-radius: 4px; padding: 3px
  }
 