<body>
      <div class="body">
        
        <div *ngIf="User != '' "> 
          Signed in as {{User}} &nbsp;
          <button (click) = "logOut()"> Log out</button>
        </div>
               
    <!-- -->
    <mat-tab-group [selectedIndex] = "selectedIndex" mat-stretch-tabs (selectedTabChange) = "addFirstBoxes($event)" style="background-color: rgb(16, 112, 208); ">
        <mat-tab >
          <ng-template mat-tab-label>
              <span *ngIf="selectedIndex == 0" class="spans">
            <mat-icon style="vertical-align: -4px" class="example-tab-icon">storage</mat-icon>

            Inventory
          </span>
          
              <span *ngIf="selectedIndex != 0" style="font-size: 23px ;">
            <mat-icon style="vertical-align: -4px" class="example-tab-icon">storage</mat-icon>
           Inventory
          </span>

          </ng-template>
          <inventory></inventory>
          <app-scan></app-scan>
        </mat-tab>
        <mat-tab  class = "mtab">
          <ng-template mat-tab-label >

            <span *ngIf="selectedIndex == 1" class="spans">
            <mat-icon style="vertical-align: -3px" class="example-tab-icon" >create</mat-icon>
            Deployed
              </span>
          
              <span *ngIf="selectedIndex != 1" style="font-size: 23px  ">
            <mat-icon style="vertical-align: -3px" class="example-tab-icon" >create</mat-icon>
                  Deployed
              </span>


          </ng-template>
          <app-manage></app-manage>
          
        </mat-tab>
        <mat-tab class = "mtab">
          
          <ng-template mat-tab-label >
            
              <span *ngIf="selectedIndex == 2" class="spans">
            <mat-icon style="vertical-align: -4px" class="example-tab-icon" >add_box</mat-icon>
            Add To Inventory
            </span>

              <span *ngIf="selectedIndex != 2" style="font-size: 23px  ">
            <mat-icon style="vertical-align: -4px" class="example-tab-icon" >add_box</mat-icon>
            Add To Inventory
            </span>
          </ng-template>
          
          <app-add></app-add>
          
        </mat-tab >
        
        <mat-tab class = "mtab">
          <ng-template mat-tab-label>
              <span *ngIf="selectedIndex == 3" class="spans">
            <mat-icon style="vertical-align: -4px" class="example-tab-icon">check_circle</mat-icon>
            Queue
              </span>

            <span *ngIf="selectedIndex != 3" style="font-size: 23px  ">
                <mat-icon style="vertical-align: -4px" class="example-tab-icon" >check_circle</mat-icon>
                Queue
                </span>
          </ng-template>
          <app-queue></app-queue>
          
        </mat-tab>

        <mat-tab >
          <ng-template mat-tab-label>
              <span *ngIf="selectedIndex == 4" class="spans">
            <mat-icon style="vertical-align: -4px" class="example-tab-icon">phonelink_off</mat-icon>
              Decommissioned
              </span>

              <span *ngIf="selectedIndex != 4" style="font-size: 23px  ">
            <mat-icon style="vertical-align: -4px" class="example-tab-icon">phonelink_off</mat-icon>
              Decommissioned
              </span>
            </ng-template>
       <app-decommission></app-decommission>
        </mat-tab>
    
      </mat-tab-group>


<script>
  const firebaseConfig = {
  apiKey: "AIzaSyDa4HvodLBhScipdlM29xtM6nYIHtzpTJA",
  authDomain: "it-asset-control.firebaseapp.com",
  databaseURL: "https://it-asset-control.firebaseio.com",
  projectId: "it-asset-control",
  storageBucket: "it-asset-control.appspot.com",
  messagingSenderId: "92479072203",
  appId: "1:92479072203:web:549ad23649fe486f"
};
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyDa4HvodLBhScipdlM29xtM6nYIHtzpTJA",
    authDomain: "it-asset-control.firebaseapp.com",
    databaseURL: "https://it-asset-control.firebaseio.com",
    projectId: "it-asset-control",
    storageBucket: "it-asset-control.appspot.com",
    messagingSenderId: "92479072203",
    appId: "1:92479072203:web:549ad23649fe486f"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>
 </div>
</body>