td{
    font-size: 20px
}
a{
    color: gold
}
body{
    background-color: rgb(16, 95, 175)
}
.filterbar {
    width: 30%;
    font-size: 20px;
    color: white;

 
  }
  ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: white !important;
  } 
.location{
    width: 15%; 
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.name{
    width: 10%; 
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.quantity{
    width: 3%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.user{
    width: 10%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.notes{
    width: 5%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.date{
    width: 10%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.actions{
    width: 10%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
/* for centering headers, sort messes with them */
::ng-deep .mat-sort-header-container {
    display:flex;
    justify-content:center;
  }
   
  .mat-row:nth-child(odd){
    background-color:rgb(48, 81, 173);
    }
.mat-row:nth-child(even){
    background-color:rgb(49, 73, 109);
    }
    
    .mat-column-Location{
        border-right: 1px solid black;
        align-self: stretch;
        text-align: center;
        }
        .mat-column-Name{
        border-right: 1px solid black;
        align-self: stretch;
        text-align: center;
        }
        .mat-column-Quantity{
        border-right: 1px solid black;
        align-self: stretch;
        text-align: center;
        } 
        .mat-column-User{
        border-right: 1px solid black;
        align-self: stretch;
        text-align: center;
            align-content: center;
            
        } 
        .mat-column-Notes{
        border-right: 1px solid black;
        align-self: stretch;
        text-align: center;
    
        } 
        .mat-column-Date{
        border-right: 1px solid black;
        align-self: stretch;
        text-align: center;
    
        } 
        .mat-column-Actions{
        border-right: 1px solid black;
        align-self: stretch;
        text-align: center;
    
        } 
