 <!-- <a href="javascript:void(0)" (click) = "locationPicker()">Pick a chunk</a> 

<div *ngFor="let item of coordArray">
    <a href="javascript:void(0)" id="{{item}}" (click) = "newBoxes(item)"> {{item}}</a>
</div> -->

<table mat-table #table [dataSource]="manageSource" matSort> 

  <!-- column named "name" -->
  <ng-container matColumnDef="Name">
    <!-- a table header thats a mat header, and is sortable -->
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="name"> Name </th>
    <!-- item is an object inside of items -->
    <td mat-cell *matCellDef="let item; let i = index"> {{item.Name}} </td>
  </ng-container>

  <ng-container matColumnDef="Quantity">
      <th  mat-header-cell *matHeaderCellDef class="quantity " mat-sort-header > Quantity </th>
    <td mat-cell *matCellDef="let item" > {{item.Quantity}} </td>
  </ng-container>

  <ng-container matColumnDef="Location"> 
    <th mat-header-cell *matHeaderCellDef class="location"> Location </th>
    <td mat-cell *matCellDef="let item; let i = index"> 
      
      <a href="javascript:void(0)" (click) = "locationPicker(i)"  >{{item.Location}}</a> 
    </td>
  </ng-container> 
  
  <ng-container matColumnDef="User">
    <th mat-header-cell *matHeaderCellDef class="user" mat-sort-header > User </th>
    <td mat-cell *matCellDef="let item" > {{item.User}} </td>
  </ng-container> 

  <ng-container matColumnDef="Notes">
    <th mat-header-cell *matHeaderCellDef class="notes" mat-sort-header > Notes </th>
    <td mat-cell *matCellDef="let item"> {{item.Notes}} </td>
  </ng-container>

  <ng-container matColumnDef="Date">
    <th mat-header-cell *matHeaderCellDef class="date" mat-sort-header > Date</th>
    <td mat-cell *matCellDef="let item">{{item.Date.seconds * 1000 | date:'MM-dd-yyyy'}} </td>
  </ng-container> 
  
  <ng-container matColumnDef="Actions">
    <th mat-header-cell *matHeaderCellDef class="actions" mat-sort-header > Actions</th>
    <td mat-cell *matCellDef="let item">
        <button mat-button (click) = "decomission($event, item.Serial, item.Quantity, item.Location, item.Notes)" id="decom">Decomission</button>  
    </td>
  </ng-container> 



<!-- next 2 lines are determining what rows and columns to display, displayColumns is an array in the component -->
  <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>


</table>