<maphilight id="statesMap" [config]="config">
<img src="/assets/_production2final.jpg" usemap="#Map"/>
<map  name="Map" id="Map">
  <area (click) = "getLocation($event)" alt="" id="r2" href="javascript:void(0);" shape="rect" coords="0,40, 85,110" />
  <area (click) = "getLocation($event)" alt="" id="r3" href="javascript:void(0);" shape="rect" coords="0,110, 85,180" />
  <area (click) = "getLocation($event)" alt="" id="Supply Closet 141" href="javascript:void(0);" shape="rect" coords="0,182, 85,221" />

  <!-- <area (click) = "getLocation($event)" alt="" id="r4" href="javascript:void(0);" shape="rect" coords="0,180, 85,250" /> -->
  <area (click) = "getLocation($event)" alt="" id="r5" href="javascript:void(0);" shape="rect" coords="0,250, 85,320" />
  <area (click) = "getLocation($event)" alt="" id="r6" href="javascript:void(0);" shape="rect" coords="0,320, 85,390" />
  <area (click) = "getLocation($event)" alt="" id="r7" href="javascript:void(0);" shape="rect" coords="0,390, 85,460" />
  <area (click) = "getLocation($event)" alt="" id="r8" href="javascript:void(0);" shape="rect" coords="0,460, 85,530" />
  <area (click) = "getLocation($event)" alt="" id="r9" href="javascript:void(0);" shape="rect" coords="0,530, 85,600" />
  <area (click) = "getLocation($event)" alt="" id="r10" href="javascript:void(0);" shape="rect" coords="0,600, 85,670" />
  <area (click) = "getLocation($event)" alt="" id="r11" href="javascript:void(0);" shape="rect" coords="0,670, 85,740" />
  <area (click) = "getLocation($event)" alt="" id="r12" href="javascript:void(0);" shape="rect" coords="0,740, 85,810" />

  <area (click) = "getLocation($event)" alt="" id="s2"  href="javascript:void(0);" shape="rect" coords="85,40,  175,110" />
  <area (click) = "getLocation($event)" alt="" id="s3"  href="javascript:void(0);" shape="rect" coords="85,110, 175,180" />
  <area (click) = "getLocation($event)" alt="" id="s4"  href="javascript:void(0);" shape="rect" coords="85,180, 175,250" />
  <area (click) = "getLocation($event)" alt="" id="s5"  href="javascript:void(0);" shape="rect" coords="85,250, 175,320" />
  <area (click) = "getLocation($event)" alt="" id="s6"  href="javascript:void(0);" shape="rect" coords="85,320, 175,390" />
  <area (click) = "getLocation($event)" alt="" id="s7"  href="javascript:void(0);" shape="rect" coords="85,390, 175,460" />
  <area (click) = "getLocation($event)" alt="" id="s8"  href="javascript:void(0);" shape="rect" coords="85,460, 175,530" />
  <area (click) = "getLocation($event)" alt="" id="s9"  href="javascript:void(0);" shape="rect" coords="85,530, 175,600" />
  <area (click) = "getLocation($event)" alt="" id="s10" href="javascript:void(0);" shape="rect" coords="85,600, 175,670" />
  <area (click) = "getLocation($event)" alt="" id="s11" href="javascript:void(0);" shape="rect" coords="85,670, 175,740" />
  <area (click) = "getLocation($event)" alt="" id="s12" href="javascript:void(0);" shape="rect" coords="85,740, 175,810" />


  <area (click) = "getLocation($event)" alt="" id="t2"  href="javascript:void(0);" shape="rect" coords="175,40,  260,110" />
  <area (click) = "getLocation($event)" alt="" id="t3"  href="javascript:void(0);" shape="rect" coords="175,110, 260,180" />
  <area (click) = "getLocation($event)" alt="" id="t4"  href="javascript:void(0);" shape="rect" coords="175,180, 260,250" />
  <area (click) = "getLocation($event)" alt="" id="t5"  href="javascript:void(0);" shape="rect" coords="175,250, 260,320" />
  <area (click) = "getLocation($event)" alt="" id="t6"  href="javascript:void(0);" shape="rect" coords="175,320, 260,390" />
  <area (click) = "getLocation($event)" alt="" id="t7"  href="javascript:void(0);" shape="rect" coords="175,390, 260,460" />
  <area (click) = "getLocation($event)" alt="" id="t8"  href="javascript:void(0);" shape="rect" coords="175,460, 260,530" />
  <area (click) = "getLocation($event)" alt="" id="t9"  href="javascript:void(0);" shape="rect" coords="175,530, 260,600" />
  <area (click) = "getLocation($event)" alt="" id="t10" href="javascript:void(0);" shape="rect" coords="175,600, 260,670" />
  <area (click) = "getLocation($event)" alt="" id="t11" href="javascript:void(0);" shape="rect" coords="175,670, 260,740" />
  <area (click) = "getLocation($event)" alt="" id="t12" href="javascript:void(0);" shape="rect" coords="175,740, 260,810" />

  
  <area (click) = "getLocation($event)" alt="" id="u2"  href="javascript:void(0);" shape="rect" coords="260,40,  350,110" />
  <area (click) = "getLocation($event)" alt="" id="u3"  href="javascript:void(0);" shape="rect" coords="260,110, 350,180" />
  <area (click) = "getLocation($event)" alt="" id="u4"  href="javascript:void(0);" shape="rect" coords="260,180, 350,250" />
  <area (click) = "getLocation($event)" alt="" id="u5"  href="javascript:void(0);" shape="rect" coords="260,250, 350,320" />
  <area (click) = "getLocation($event)" alt="" id="u6"  href="javascript:void(0);" shape="rect" coords="260,320, 350,390" />
  <area (click) = "getLocation($event)" alt="" id="u7"  href="javascript:void(0);" shape="rect" coords="260,390, 350,460" />
  <area (click) = "getLocation($event)" alt="" id="u8"  href="javascript:void(0);" shape="rect" coords="260,460, 350,530" />
  <area (click) = "getLocation($event)" alt="" id="u9"  href="javascript:void(0);" shape="rect" coords="260,530, 350,600" />
  <area (click) = "getLocation($event)" alt="" id="u10" href="javascript:void(0);" shape="rect" coords="260,600, 350,670" />
  <area (click) = "getLocation($event)" alt="" id="u11" href="javascript:void(0);" shape="rect" coords="260,670, 350,740" />
  <area (click) = "getLocation($event)" alt="" id="u12" href="javascript:void(0);" shape="rect" coords="260,740, 350,810" />
  
  <area (click) = "getLocation($event)" alt="" id="v2"  href="javascript:void(0);" shape="rect" coords="350,40,  440,110" />
  <area (click) = "getLocation($event)" alt="" id="v3"  href="javascript:void(0);" shape="rect" coords="350,110, 440,180" />
  <area (click) = "getLocation($event)" alt="" id="v4"  href="javascript:void(0);" shape="rect" coords="350,180, 440,250" />
  <area (click) = "getLocation($event)" alt="" id="v5"  href="javascript:void(0);" shape="rect" coords="350,250, 440,320" />
  <area (click) = "getLocation($event)" alt="" id="v6"  href="javascript:void(0);" shape="rect" coords="350,320, 440,390" />
  <area (click) = "getLocation($event)" alt="" id="v7"  href="javascript:void(0);" shape="rect" coords="350,390, 440,460" />
  <area (click) = "getLocation($event)" alt="" id="v8"  href="javascript:void(0);" shape="rect" coords="350,460, 440,530" />
  <area (click) = "getLocation($event)" alt="" id="v9"  href="javascript:void(0);" shape="rect" coords="350,530, 440,600" />
  <area (click) = "getLocation($event)" alt="" id="v10" href="javascript:void(0);" shape="rect" coords="350,600, 440,670" />
  <area (click) = "getLocation($event)" alt="" id="v11" href="javascript:void(0);" shape="rect" coords="350,670, 440,740" />
  <area (click) = "getLocation($event)" alt="" id="v12" href="javascript:void(0);" shape="rect" coords="350,740, 440,810" />
  
  <area (click) = "getLocation($event)" alt="" id="w2"  href="javascript:void(0);" shape="rect" coords="440,40,  525,110" />
  <area (click) = "getLocation($event)" alt="" id="w3"  href="javascript:void(0);" shape="rect" coords="440,110, 525,180" />
  <area (click) = "getLocation($event)" alt="" id="w4"  href="javascript:void(0);" shape="rect" coords="440,180, 525,250" />
  <area (click) = "getLocation($event)" alt="" id="w5"  href="javascript:void(0);" shape="rect" coords="440,250, 525,320" />
  <area (click) = "getLocation($event)" alt="" id="w6"  href="javascript:void(0);" shape="rect" coords="440,320, 525,390" />
  <area (click) = "getLocation($event)" alt="" id="w7"  href="javascript:void(0);" shape="rect" coords="440,390, 525,460" />
  <area (click) = "getLocation($event)" alt="" id="w8"  href="javascript:void(0);" shape="rect" coords="440,460, 525,530" />
  <area (click) = "getLocation($event)" alt="" id="w9"  href="javascript:void(0);" shape="rect" coords="440,530, 525,600" />
  <area (click) = "getLocation($event)" alt="" id="w10" href="javascript:void(0);" shape="rect" coords="440,600, 525,670" />
  <area (click) = "getLocation($event)" alt="" id="w11" href="javascript:void(0);" shape="rect" coords="440,670, 525,740" />
  <area (click) = "getLocation($event)" alt="" id="w12" href="javascript:void(0);" shape="rect" coords="440,740, 525,810" />
  

  <area (click) = "getLocation($event)" alt="" id="x2"  href="javascript:void(0);" shape="rect" coords="525,40,  615,110" />
  <area (click) = "getLocation($event)" alt="" id="x3"  href="javascript:void(0);" shape="rect" coords="525,110, 615,180" />
  <area (click) = "getLocation($event)" alt="" id="x4"  href="javascript:void(0);" shape="rect" coords="525,180, 615,250" />
  <area (click) = "getLocation($event)" alt="" id="x5"  href="javascript:void(0);" shape="rect" coords="525,250, 615,320" />
  <area (click) = "getLocation($event)" alt="" id="x6"  href="javascript:void(0);" shape="rect" coords="525,320, 615,390" />
  <area (click) = "getLocation($event)" alt="" id="x7"  href="javascript:void(0);" shape="rect" coords="525,390, 615,460" />
  <area (click) = "getLocation($event)" alt="" id="x8"  href="javascript:void(0);" shape="rect" coords="525,460, 615,530" />
  <area (click) = "getLocation($event)" alt="" id="x9"  href="javascript:void(0);" shape="rect" coords="525,530, 615,600" />
  <area (click) = "getLocation($event)" alt="" id="x10" href="javascript:void(0);" shape="rect" coords="525,600, 615,670" />
  <area (click) = "getLocation($event)" alt="" id="x11" href="javascript:void(0);" shape="rect" coords="525,670, 615,740" />
  <area (click) = "getLocation($event)" alt="" id="x12" href="javascript:void(0);" shape="rect" coords="525,740, 615,810" />

  <area (click) = "getLocation($event)" alt="" id="y2"  href="javascript:void(0);" shape="rect" coords="615,40,  700,110" />
  <area (click) = "getLocation($event)" alt="" id="y3"  href="javascript:void(0);" shape="rect" coords="615,110, 700,180" />
  <area (click) = "getLocation($event)" alt="" id="y4"  href="javascript:void(0);" shape="rect" coords="615,180, 700,250" />
  <area (click) = "getLocation($event)" alt="" id="y5"  href="javascript:void(0);" shape="rect" coords="615,250, 700,320" />
  <area (click) = "getLocation($event)" alt="" id="y6"  href="javascript:void(0);" shape="rect" coords="615,320, 700,390" />
  <area (click) = "getLocation($event)" alt="" id="y7"  href="javascript:void(0);" shape="rect" coords="615,390, 700,460" />
  <area (click) = "getLocation($event)" alt="" id="y8"  href="javascript:void(0);" shape="rect" coords="615,460, 700,530" />
  <area (click) = "getLocation($event)" alt="" id="y9"  href="javascript:void(0);" shape="rect" coords="615,530, 700,600" />
  <area (click) = "getLocation($event)" alt="" id="y10" href="javascript:void(0);" shape="rect" coords="615,600, 700,670" />
  <area (click) = "getLocation($event)" alt="" id="y11" href="javascript:void(0);" shape="rect" coords="615,670, 700,740" />
  <area (click) = "getLocation($event)" alt="" id="y12" href="javascript:void(0);" shape="rect" coords="615,740, 700,810" />

  <area (click) = "getLocation($event)" alt="" id="z2"  href="javascript:void(0);" shape="rect" coords="700,40,  790,110" />
  <area (click) = "getLocation($event)" alt="" id="z3"  href="javascript:void(0);" shape="rect" coords="700,110, 790,180" />
  <area (click) = "getLocation($event)" alt="" id="z4"  href="javascript:void(0);" shape="rect" coords="700,180, 790,250" />
  <area (click) = "getLocation($event)" alt="" id="z5"  href="javascript:void(0);" shape="rect" coords="700,250, 790,320" />
  <area (click) = "getLocation($event)" alt="" id="z6"  href="javascript:void(0);" shape="rect" coords="700,320, 790,390" />
  <area (click) = "getLocation($event)" alt="" id="z7"  href="javascript:void(0);" shape="rect" coords="700,390, 790,460" />
  <area (click) = "getLocation($event)" alt="" id="z8"  href="javascript:void(0);" shape="rect" coords="700,460, 790,530" />
  <area (click) = "getLocation($event)" alt="" id="z9"  href="javascript:void(0);" shape="rect" coords="700,530, 790,600" />
  <area (click) = "getLocation($event)" alt="" id="z10" href="javascript:void(0);" shape="rect" coords="700,600, 790,670" />
  <area (click) = "getLocation($event)" alt="" id="z11" href="javascript:void(0);" shape="rect" coords="700,670, 790,740" />
  <area (click) = "getLocation($event)" alt="" id="z12" href="javascript:void(0);" shape="rect" coords="700,740, 790,810" />

  <area (click) = "getLocation($event)" alt="" id="aa2"  href="javascript:void(0);" shape="rect" coords="790,40,  880,110" />
  <area (click) = "getLocation($event)" alt="" id="aa3"  href="javascript:void(0);" shape="rect" coords="790,110, 880,180" />
  <area (click) = "getLocation($event)" alt="" id="aa4"  href="javascript:void(0);" shape="rect" coords="790,180, 880,250" />
  <area (click) = "getLocation($event)" alt="" id="aa5"  href="javascript:void(0);" shape="rect" coords="790,250, 880,320" />
  <area (click) = "getLocation($event)" alt="" id="aa6"  href="javascript:void(0);" shape="rect" coords="790,320, 880,390" />
  <area (click) = "getLocation($event)" alt="" id="aa7"  href="javascript:void(0);" shape="rect" coords="790,390, 880,460" />
  <area (click) = "getLocation($event)" alt="" id="aa8"  href="javascript:void(0);" shape="rect" coords="790,460, 880,530" />
  <area (click) = "getLocation($event)" alt="" id="aa9"  href="javascript:void(0);" shape="rect" coords="790,530, 880,600" />
  <area (click) = "getLocation($event)" alt="" id="aa10" href="javascript:void(0);" shape="rect" coords="790,600, 880,670" />
  <area (click) = "getLocation($event)" alt="" id="Receiving" href="javascript:void(0);" shape="rect" coords="785,703, 877,805" />
  <!-- <area (click) = "getLocation($event)" alt="" id="aa11" href="javascript:void(0);" shape="rect" coords="790,670, 880,740" />
  <area (click) = "getLocation($event)" alt="" id="aa12" href="javascript:void(0);" shape="rect" coords="790,740, 880,810" />  -->

</map> </maphilight>
<br>
<button (click) = "closeDialog()" value="{{coordinate}}"  style="max-height: 20%; width: 15%;height: 60px;"> 
  <div *ngIf="coordinate != '' " style="font-size: 18px">Confirm {{coordinate}}</div>
  <div  *ngIf="coordinate == '' " style="font-size: 18px"> Pick a coordinate </div> 
  </button>
  <div mat-dialog-actions  >
    <button mat-button-raised style=" max-height: 20%; width: 15%;height: 60px; font-size: 18px" (click)="onNoClick()">Close</button>

  </div>