a{
    color: gold
}
.date{
    
    width: 15%; 
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.user{
    width: 10%; 
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.location{
    width: 3%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.quantity{
    width: 10%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.name{
    width: 5%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.notes{
    width: 10%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.mat-row:nth-child(odd){
    background-color:rgb(0, 92, 92);
    }
.mat-row:nth-child(even){
    background-color:rgb(79, 92, 89);
    }
    
        .mat-column-Name{
        border-right: 1px solid darkgoldenrod;
        align-self: stretch;
        text-align: center;
        }
        .mat-column-Quantity{
            border-right: 1px solid darkgoldenrod;
            align-self: stretch;
            text-align: center;
        } 
        .mat-column-Date{
            border-right: 1px solid darkgoldenrod;
            align-self: stretch;
            text-align: center;
            
        } 
        .mat-column-Notes{
            border-right: 1px solid darkgoldenrod;
            align-self: stretch;
            text-align: center;
    
        } 
        .mat-column-Location{
            border-right: 1px solid darkgoldenrod;
            align-self: stretch;
            text-align: center;
    
        } 
        .mat-column-User{
            border-right: 1px solid darkgoldenrod;
            align-self: stretch;
            text-align: center;
    
        }
         ::ng-deep .mat-sort-header-container {
            display:flex;
            justify-content:center;
          }
          td{
              font-size: 20px
          }
          a:link:active, a:visited:active { 
            color: red;
          }
          a{
              color: rgb(6, 158, 145);
          }